{% extends 'back/product/_base.html.twig' %}

{% block title %}product index{% endblock %}

{% block body %}
<div class="container">
    <h1>product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Poster</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>
                {% if product.poster != "" %}
                    <img style="max-width:100px" src="{{ product.poster }}" />
                {% else %}
                    <p>Pas d'image définie</p>
                {% endif %}
                </td>
                <td>{{ product.title }}</td>
                <td>{{ product.duration }}</td>
                <td>{{ product.releasedAt ? product.releasedAt|date('d/m/Y') : '' }}</td>
                <td>{{ product.rating }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_back_product_show', {'id': product.id}) }}">Voir</a>
                    <a class="btn btn-secondary" href="{{ path('app_back_product_edit', {'id': product.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
