{% extends 'back/product/_base.html.twig' %}

{% block title %}product index{% endblock %}

{% block body %}
    <h1>product index</h1>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>stock</th>
                <th>unité</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
               <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.unity }}</td>
              
            
                <td>
                    <a href="{{ path('app_back_product_show', {'id': product.id}) }}" class = "btn btn-info">show</a>
                    <a href="{{ path('app_back_product_edit', {'id': product.id}) }}" class = "btn btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_product_new') }}"class = "btn btn-success">Create new</a>

{% endblock %}

