{% extends 'back/category/_base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}

<div class="container-fluid">

    <h1 class="text-center">Les catégories</h1>
    <p>Vous avez la possibilité de modifier la description d'une catégorie en cliquent sur le texte.</p>

    <section class="row">
    {% for currentCategory in categories %}
        <article class="col-4">
            <h3 class="text-center">{{ currentCategory.name }}</h3>
            <p>Description {% if is_granted('ROLE_SUPER_ADMIN') %}(cliquez pour modifier) {% endif %}:</p>
            <div>
                <div class="spinners d-none">
                    <div class="spinner-border spinner-border-sm" role="status"></div>
                    <div class="spinner-grow spinner-grow-sm" role="status"></div>
                </div>

                {% if currentCategory.description is null %}
                <p class="description"><em>Pas de description.{% if is_granted('ROLE_SUPER_ADMIN') %} Vous pouvez en ajouter une en cliquant sur ce texte.{% endif %}</em></p>
                {% else %}
                <p class="description w-100 bg-opacity-25 bg-secondary">{{ currentCategory.description }}</p>
                {% endif %}
                
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <textarea class="form-control d-none" rows="6" data-id="{{ currentCategory.id }}">
                    {{ currentCategory.description }}
                </textarea>
                <div class="alert alert-warning d-none" role="alert"></div>

                {% endif %}
            </div>
        </article>
    {% endfor %}
    </section>
</div>
{% endblock %}

{% block javascripts %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <script src="{{ asset('scripts/categoryIndex.js')}}"></script>
    {% endif %}
{% endblock %}
