{% extends 'back/order/_base.html.twig' %}

{% block title %}Détail commande{% endblock %}

{% block body %}
<section class="container-fluid">
    <h1 class="text-center">Détail de la commande</h1>

    <div class="row justify-content-around">
        <article class="card col-4">
            <div class="card-body">
                <ul>
                    <li class="list-group-item"><strong class="fw-semibold">Date commande : </strong>{{ order.getDateOrder ? order.getDateOrder|date('Y-m-d H:i:s') : '-' }}</li>
                    <li class="list-group-item"><strong class="fw-semibold">Prix : </strong>{{ order.price }} €</li>
                    <li class="list-group-item"><strong class="fw-semibold">Payé ? : </strong>{{ order.paymentStatus == 'yes' ? '✔' : '❌'  }}</li>
                    <li class="list-group-item"><strong class="fw-semibold">Date paiement : </strong>{{ order.paidAt ? order.paidAt|date('d-m-Y H:i:s') : '-' }}</li>
                    <li class="list-group-item"><strong class="fw-semibold">Retiré ? : </strong>{{ order.deliverStatus == 'yes' ? '✔' : '❌' }}</li>
                    <li class="list-group-item"><strong class="fw-semibold">Date retrait : </strong>{{ order.deliveredAt ? order.deliveredAt|date('d-m-Y H:i:s') : '-' }}</li>
                </ul>
            </div>
    {# <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Date commande</th>
                <td>{{ order.getDateOrder ? order.getDateOrder|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ order.price }}</td>
            </tr>
            <tr>
                <th>Payment_status</th>
                <td>{{ order.paymentStatus }}</td>
            </tr>
            <tr>
                <th>Deliver_status</th>
                <td>{{ order.deliverStatus }}</td>
            </tr>
            <tr>
                <th>PaidAt</th>
                <td>{{ order.paidAt ? order.paidAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeliveredAt</th>
                <td>{{ order.deliveredAt ? order.deliveredAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table> #}

    {# <a href="{{ path('app_back_order_edit', {'id': order.id}) }}">edit</a> #}

    {# {{ include('back/order/_delete_form.html.twig') }} #}
        </article>
    </div>
{% endblock %}
