{% extends 'back/user/_base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

<div class="container-fluid">
    <h1 class="text-center">Liste des utilisateurs</h1>

    <section class="accordion" id="accordionExample">
        <article class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Les clients
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Email</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for currentUser in users %}
                        <tr>
                            <td scope="row"><a href="{{ path('app_back_user_show', {'id': currentUser.id}) }}" class="btn btn-outline-primary btn-sm"><i class="bi bi-eye-fill"></i></a><a href="{{ path('app_back_user_orders', {'id': currentUser.id}) }}" class="btn btn-outline-success btn-sm"><i class="bi bi-cart-fill"></i></a></td>
                            <td>{{ currentUser.id }}</td>
                            <td>{{ currentUser.lastname }}</td>
                            <td>{{ currentUser.firstname }}</td>
                            <td>{{ currentUser.email }}</td>
                            <td>{{ currentUser.phone }}</td>
                            <td>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a href="{{ path('app_back_user_edit', {'id': currentUser.id}) }}" class="btn btn-outline-warning btn-sm"><i class="bi bi-pencil-fill"></i></a>{% include 'back/user/_delete.html.twig' with {'delete': '', 'user': currentUser} %}
                                {% endif %}    
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </article>
        <article class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Le staff
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Email</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Rôle</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for currentUser in superAdmins %}
                        <tr>
                            <td scope="row"><a href="{{ path('app_back_user_show', {'id': currentUser.id}) }}" class="btn btn-outline-primary btn-sm"><i class="bi bi-eye-fill"></i></a></td>
                            <td>{{ currentUser.id }}</td>
                            <td>{{ currentUser.lastname }}</td>
                            <td>{{ currentUser.firstname }}</td>
                            <td>{{ currentUser.email }}</td>
                            <td>{{ currentUser.phone }}</td>
                            <td>{{ currentUser.roleName }}</td>
                            <td>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a href="{{ path('app_back_user_edit', {'id': currentUser.id}) }}" class="btn btn-outline-warning btn-sm"><i class="bi bi-pencil-fill"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for currentUser in admins %}
                        <tr>
                            <td scope="row"><a href="{{ path('app_back_user_show', {'id': currentUser.id}) }}" class="btn btn-outline-primary btn-sm"><i class="bi bi-eye-fill"></i></a></td>
                            <td>{{ currentUser.id }}</td>
                            <td>{{ currentUser.lastname }}</td>
                            <td>{{ currentUser.firstname }}</td>
                            <td>{{ currentUser.email }}</td>
                            <td>{{ currentUser.phone }}</td>
                            <td>{{ currentUser.roleName }}</td>
                            <td>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a href="{{ path('app_back_user_edit', {'id': currentUser.id}) }}" class="btn btn-outline-warning btn-sm"><i class="bi bi-pencil-fill"></i></a>{% include 'back/user/_delete.html.twig' with {'delete': '', 'user': currentUser} %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </article>
    </section>
</div>
{% endblock %}