{% extends 'back/user/_base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}

<section class="container-fluid">
    <h1 class="text-center">Profil de {{ user.lastname }} {{ user.firstname }}</h1>

    <div class="justify-content-center d-flex">
    <article class="card col-6">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong class="fw-semibold">Nom : </strong>{{ user.lastname }}</li>
                <li class="list-group-item"><strong class="fw-semibold">Prénom : </strong>{{ user.firstname }}</li>
                <li class="list-group-item">
                    <strong class="fw-semibold">E-mail : </strong>{{ user.email }}
                    {% if user.emailChecked %}
                        <i class="bi bi-check-square text-success"></i>
                    {% else %}
                        <i class="bi bi-x-square text-danger me-2"></i>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a href="{{ path('app_back_user_check_email', {'id': user.id}) }}" class="btn btn-outline-primary btn-sm">Demande de confirmation</i></a>
                        {% endif %}
                    {% endif %}
                </li>
                <li class="list-group-item"><strong class="fw-semibold">Téléphone : </strong>{{ user.phone }}</li>
                <li class="list-group-item"><strong class="fw-semibold">Adresse : </strong>{{ user.address }}</li>
            </ul>
        </div>
        <footer class="d-flex justify-content-evenly">
            <a href="{{ path('app_back_user_orders', {'id': user.id}) }}" class="btn btn-outline-success btn-sm"><i class="bi bi-cart-fill">Voir les commandes</i></a>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a href="{{ path('app_back_user_edit', {'id': user.id}) }}" class="btn btn-outline-warning btn-sm"><i class="bi bi-pencil-fill">Modifier</i></a>
            {% include 'back/user/_delete.html.twig' with {'delete': 'Supprimer'} %}
            {% endif %}
        </footer>
    </article>
    </div>
</section>
{% endblock %}