{% extends 'back/cart/_base.html.twig' %}

{% block title %}Paniers{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="text-center">Liste des Paniers</h1>

    <table class="table table-condensed">
        <thead>
            <tr>
            {% if carts is empty %}
                <td colspan="8">Aucun panier n'a été trouvé</td>
            </tr>
            {% else %}
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">En vente</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for cart in carts %}
            <tr>
               <td>{{ cart.id }}</td>
                <td>{{ cart.name }}</td> 
                <td>{{ cart.price }}</td>
                <td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <input type="checkbox" class="form-check-input" id="{{ cart.id }}" name="on-sale"{% if cart.onSale == true %} checked{% endif %}>
                    {% else %}
                        {% if cart.onSale == true %}
                            <i class="bi bi-check-square text-success"></i>
                        {% else %}
                            <i class="bi bi-x-square text-danger"></i>
                        {% endif %}
                    {% endif %}
                </td>
               <td>
                    <a href="{{ path('app_back_cart_show', {'id': cart.id}) }}" class = "btn btn-outline-primary btn-sm"><i class="bi bi-eye-fill"> Consulter</i></a>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        {% include 'back/cart/_delete.html.twig' with {'delete': 'Supprimer', 'cart': cart} %}
                    {% endif %}  
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>
    

{% endblock %}

{% block javascripts %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <script src="{{ asset('scripts/cartIndex.js')}}"></script>
    {% endif %}
{% endblock %}
