{% extends 'back/product/_base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}

<div class="container-fluid">

    <h1 class="text-center">Liste des produits</h1>

    <table class="table table-striped">
        <thead>
            <tr>
             {% if products is empty %}
                <td colspan="8">Aucun produit n'a été trouvé</td>
            {% else %}
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                {# <th scope="col">Stock</th> #}
                <th scope="col">Prix</th>
                <th scope="col">Vendu par</th>
                <th scope="col">Catégorie</th>
                <th scope="col"></th>
                
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
               <td scope="row">{{ product.id }}</td>
                <td>{{ product.name }}</td>
                {# <td>{{ product.stock }}</td> #}
                <td>{{ product.price }}</td>
                <td>{{ product.quantityUnity ~ ' ' ~ product.unity }}</td>
                <td>{{ product.category.name }}</td>
                
                <td>
                    <a href="{{ path('app_back_product_show', {'id': product.id}) }}" class = "btn btn-outline-primary btn-sm"><i class="bi bi-eye-fill"> Consulter</i></a>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('app_back_product_edit', {'id': product.id}) }}" class = "btn btn-outline-warning btn-sm"><i class="bi bi-pencil-fill"> Modifier</i></a>
                    {% include 'back/product/_delete.html.twig' with {'delete': 'Supprimer'} %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}

