{% extends 'back/product/_base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}

<div class="container-fluid">

    <h1 class="text-center">Liste des produits</h1>

    <table class="table table-striped">
        <thead>
            <tr>
<<<<<<< HEAD
                <th>Id</th>
                <th>Nom</th>
                <th>stock</th>
                <th>prix</th>
                <th>catégorie</th>
                <th>unité</th>
                <th>decription</th>
=======
             {% if products is empty %}
                <td colspan="8">Aucun produit n'a été trouvé</td>
            {% else %}
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">stock</th>
                <th scope="col">prix</th>
                <th scope="col">unité</th>
                <th scope="col">catégorie</th>
                <th scope="col"></th>
                
>>>>>>> f577d3355f41a76ce78a63fcf58b512597f8b4cb
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
               <td scope="row">{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.unity }}</td>
<<<<<<< HEAD
                <td>{{ product.description }}</td>
                
                <td>
                    <a href="{{ path('app_back_product_show', {'id': product.id}) }}" <i class="bi bi-eye-fill"> Consulter</i></a>
                    <a href="{{ path('app_back_product_edit', {'id': product.id}) }}" <i class="bi bi-pencil-fill"></i></a>
=======
                <td>{{ product.category.name }}</td>
                
                <td>
                    <a href="{{ path('app_back_product_show', {'id': product.id}) }}" class = "btn btn-outline-primary btn-sm"><i class="bi bi-eye-fill"> Consulter</i></a>
                    <a href="{{ path('app_back_product_edit', {'id': product.id}) }}" class = "btn btn-outline-warning btn-sm"><i class="bi bi-pencil-fill"> Modifier</i></a>
>>>>>>> f577d3355f41a76ce78a63fcf58b512597f8b4cb
                </td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <a href="{{ path('app_back_product_new') }}"class = "btn btn-success">Créer un nouveau produit</a>
</div>
{% endblock %}

