
{% extends 'back/product/_base.html.twig' %}

{% block title %}Détail produit{% endblock %}

{% block body %}
<section class="container-fluid">
    <h1 class="text-center">Détail du produit : {{ product.name }}</h1>
    
    <div class="row justify-content-around mt-2">
        <article class="card col-4">
            <img class="card-img-top" src="{{ baseUrl ~ asset('images/products/'~ product.image)  }}" alt="Photo de {{ product.name }}">
            <div class="card-body">
                <ul>
                    <li class="kist-group-item"><strong class="fw semibold">Nom : </strong>{{ product.name }}</li>
                    <li class="kist-group-item"><strong class="fw semibold">Catégorie : </strong>{{ product.category.name }}</li>
                    {# <li class="kist-group-item"><strong class="fw semibold">Stock en vente : </strong>{{ product.stock }}</li> #}
                    <li class="kist-group-item"><strong class="fw semibold">Unité : </strong>{{ product.unity }}</li>
                    <li class="kist-group-item"><strong class="fw semibold">Prix (à l'unité) : </strong>{{ product.price }}</li>
                </ul>
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="card-body">
                <a class="btn btn-warning btn-sm" href="{{ path('app_back_product_edit', {'id': product.id}) }}"><i class="bi bi-pencil-fill"> Modifier</i></a>{% include 'back/product/_delete.html.twig' with {'delete': 'Supprimer'} %}
            </div>
            {% endif %}
        </article>
        <article class="card col-6">
            <h3 class="card-title">Description du produit</h3>
            <p class="card-text">
                {{ product.description }}
            </p>
        </article>
    </div>
</div>
</section>
{% endblock %}

