{% block title %}Dépôts{% endblock %}
{% block stylesheets %}
    <style type="text/css">
        table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        }
        body {
        font-family: 'Courier';
        margin: 0;
        }
        td {
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h2 class="text-center">Détails des dépôts</h2>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Commande</th>
                <th scope="col">Prix</th>
                <th scope="col">Client</th>
            </tr>
        </thead>
    <tbody>
        {% for order in depot.orders %}
    <tr>    
        <td> {{ order.getDateOrder ? order.getDateOrder|date('d-m-Y') : '-' }}</td>
        <td id="{{order.id}}" scope="row">{{ order.id }}</td>
        <td> {{ order.price }}</td>
        <td> {{ order.user.lastname}}</td>
    </tr>
    </tbody>

      {# <thead>
            <tr>
                <th scope="col">Produits</th>
                <th scope="col">Quantité</th>
             </tr>
    </thead>  #}
    {# <tbody>
    <tr>
        {% for order in depot.orders %}
     {% for product in order.orderProducts %}
        <td> {{ product.product.name }}</td> 
        <td>{{ product.quantity }} {{ product.product.unity }}</td>
        </tr>
       </tbody>
         {% endfor %}
         {% endfor %} #}
     
    {% endfor %} 
     
          <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Nb commande</th>
                <th scope="col">Total Prix</th>
                <th scope="col">Nb Client</th>
            </tr>
        </thead>

         <tbody>
        {# {% for price in total %} #}
        {% for order in depot.orders %}
        {# {% for order in total %}  #}
    {# <tr>    
         <td scope="col">{{ order.total.order}}</td>
         <td scope="col">{{ order.total.price}}</td>
         <td>{{ order.user.lastname}}</td> 
    </tr> #}
     {% endfor %}
      {# {% endfor %} #}

    </tbody>
        </table>  
</div>        
{% endblock %}