{# {% block title %}Dépôts{% endblock %} #}
{% block stylesheets %}
   <style type="text/css">
        table {
        table-layout: fixed;
        width: 100%;
        border: solid 1px;
        border-collapse: collapse;
        }
        body {
        font-family: 'Courier';
        margin: 0;
        }
        td {
            text-align: center;
            padding: 10px;
            border: solid 1px;
            
        }
        th {
            color: white;
            border-radius: bold 5px grey;
            background-color: black;
        }
        .name {
            color: #125733;
            font-style: bold;
        }
        .total-facture, .total-order {
            color: #125733;
            font-style: bold;
        }
        .first-lign {
            height: 5px;
            width: 100%;
            background-color: #125733;
        }
        .second-lign {
            height: 5px;
            width: 100%;
            background-color: #d6c873;
            margin-bottom: 20px;
        }
    </style>
    
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h2 class="name">{{ depot.name }}</h2>
    <div class="first-lign"></div>
    <div class="second-lign"></div>
 
    <table class="table table-condensed">
        <thead>
            <tr>
                <th scope="col">Commande</th>
                <th scope="col">Prix</th>
                <th scope="col">Client</th>
            </tr>
        </thead>
    <tbody>
        {% for order in depot.orders %}
    <tr>    
        <td id="{{order.id}}" scope="row">{{ order.id }}</td>
        <td> {{ order.price }}</td>
        <td> {{ order.user.firstname}} {{ order.user.lastname}}</td>
    </tr>
    </tbody>
     {% endfor %}
        
    </tbody>
        </table>  
        <div class="total">
            <p class="total-order">Commande total: {{nborders}}</p>
            <p class="total-facture">Prix total : {{total}} €</p>
        </div>
       
{% endblock %}