{# {% block title %}Dépôts{% endblock %} #}
{% block stylesheets %}
   <style type="text/css">
        table {
        table-layout: fixed;
        width: 100%;
        border: solid 1px;
        border-collapse: collapse;
        }
        body {
        font-family: 'Courier';
        margin: 0;
        }
        td {
            text-align: center;
            padding: 10px;
            border: solid 1px;
            
        }
        th {
            border-radius: bold 5px grey;
            background-color: #40b5e7;
        }
    </style>
    </style>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h2 class="text-center">Détails des dépôts</h2>
    {# <img class="logo" src="../../public/images/logo.jpg" alt="logo"> #}

    <table class="table table-condensed">
        <thead>
            <tr>
                <th scope="col">Commande</th>
                <th scope="col">Prix</th>
                <th scope="col">Client</th>
            </tr>
        </thead>
    <tbody>
        {% for order in depot.orders %}
    <tr>    
        <td id="{{order.id}}" scope="row">{{ order.id }}</td>
        <td> {{ order.price }}</td>
        <td> {{ order.user.firstname}} {{ order.user.lastname}}</td>
    </tr>
    </tbody>
          <thead>
            <tr>
                <th scope="col">Nb commande</th>
                {# <th scope="col">Total Prix</th> #}
                <th scope="col">Nb Client</th>
            </tr>
        </thead>

         <tbody>  
     <tr>    
         {# <td scope="col">{{ order.total.order}}</td> #}
         
         {# <td>{{ order.user.lastname}}</td>  #}
    </tr> 

     {% endfor %}
        
    </tbody>
        </table>  
         <p>Prix total : {{total}}</p>
         <p> {{nborders}}</p>
</div>        
{% endblock %}