
{% extends 'back/depot/_base.html.twig' %}

{% block title %}Détails dépôt{% endblock %}

{% block body %}
<section class="container-fluid">
    <h1 class="text-center">Détail du dépôt</h1>

    <div class="row justify-content-around mt-2">
        <article class="card col-2">
            <div class="card-body">
                <h3 class="card-title">Infos depôt</h3>
                <ul>
                    <li class="list-group-item"><strong class="fw-semibold">Nom : </strong>{{ depot.name }}</li>
                    <li class="list-group-item"><strong class="fw-semibold">Adresse : </strong>{{ depot.address }} €</li>
                    <li class="list-group-item"><strong class="fw-semibold">Téléphone : </strong>{{ depot.phone }} €</li>
                </ul>
            </div>
        </article>

        <article class="card col-9">
            <table class="table table-striped">
            <thead>
                <tr>
                {% if depot.orders is empty %}
                    <td colspan="8">Aucune commande n'a été trouvé</td>
                {% else %}
                    <th scope="col">#</th>
                    <th scope="col">Date commande</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Payée ?</th>
                    <th scope="col">Date paiement</th>
                    <th scope="col">Retirée ?</th>
                    <th scope="col">Date retrait</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for order in depot.orders %}
                {% if order.deliverStatus == 'no' %}
                <tr>
                    <td id="{{order.id}}" scope="row">{{ order.id }}</td>
                    <td> {{ order.getDateOrder ? order.getDateOrder|date('d-m-Y H:i:s') : '-' }}</td>
                    <td> {{ order.price }}</td>
                    <td> 
                    {% if order.paymentStatus == 'yes' %}
                            <i class="bi bi-cash-coin text-success"></i>
                        {% else %}
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a href="{{ path('app_back_order_validate', {'id': order.id}) }}" class="btn btn-outline-danger bi bi-cash-coin text-danger" data-payment="{{ order.id }}"></a>
                            {% else %}
                                <i class="bi bi-cash-coin text-danger"></i>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td> {{ order.paidAt ? order.paidAt|date('d-m-Y H:i:s') : '-' }}</td>
                    <td> 
                    {% if order.deliverStatus == 'yes' %}
                        <i class="bi bi-clipboard2-check text-success"></i>
                    {% else %}
                        {% if order.paymentStatus == 'no' %}
                        {% else %}
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a href="{{ path('app_back_order_delivered', {'id': order.id}) }}" class="btn btn-outline-danger bi bi-clipboard2-check text-danger" data-delivery="{{ order.id }}"></a>
                            {% else %}
                                <i class="bi bi-clipboard2-check text-danger"></i>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    </td>
                    <td> {{ order.deliveredAt ? order.deliveredAt|date('d-m-Y H:i:s') : '-' }}</td>
                    <td> 
                        <a href="{{ path('app_back_order_show', {'id': order.id}) }}" class="btn btn-outline-primary btn-sm"><i class="bi bi-eye-fill"> Consulter</i></a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
                {% endif %}
            </tbody>
        </table>
        </article>

    </div>
</section>
{% endblock %}

{% block javascripts %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <script src="{{ asset('scripts/orderStatus.js')}}"></script>
    {% endif %}
{% endblock %}

