{% extends 'base-back.html.twig' %}

{% block title %}Journal de récolte{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="text-center">Journal de récolte</h1>

    <p>Produits à récolter pour les commandes du <strong><em>{{ startDate ? startDate|format_date('short', locale='fr') : '01/01/1970' }}</em></strong> au <strong><em>{{ endDate|format_date('short', locale='fr') }}</em></strong></p>

    <div class="d-flex justify-content-around flex-wrap flex-nowrap align-items-center pt-3 pb-2 mb-3">
        <div>
        {{ include('back/_form-date-filter.twig') }}
        </div>
        <div class="d-flex justify-content-center align-items-center {{ products is empty ? 'invisible' : '' }}">
            <input type="radio" class="btn-check" name="pack" value="false" id="success-outlined" autocomplete="off" checked>
            <label class="btn btn-outline-secondary" for="success-outlined">Par quantité</label>

            <input type="radio" class="btn-check" name="pack" value="true" id="danger-outlined" autocomplete="off">
            <label class="btn btn-outline-secondary" for="danger-outlined">Par lots</label>
        </div>  
        <a href="{{ path('app_back_harvest_home', {'generate-pdf': 'generate', 'startDate': startDate, 'endDate': endDate}) }}" id="print-pdf" class="btn btn-outline-primary {{ products is empty ? 'invisible' : '' }}"><i class="bi bi-filetype-pdf"></i> Voir le PDF</a>
    </div>

    {% if products is empty %}
        <div class="text-bg-info">Aucune commande n'a été trouvé pour cette période</div>
    {% else %}
  

    <div class="row justify-content-around">
        <article class="card col-4">
            <div class="card-body">
                <h3 class="card-title">Liste des produits</h3>
                <table class="table table-striped justify-content-center">
                    <thead>
                    </thead>
                    <tbody class="products-by-total">
                        {% for productName, quantityList in products %}
                            {% for unity, quantity in quantityList %}
                                <tr>
                                    <td class="col-2">{{ productName }} :</td>
                                    <td class="col-1">{{ quantity ~ ' ' ~ unity }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                    <tbody class="products-by-pack d-none">
                        {% for productName, quantityList in packProducts %}
                            {% for unity, quantity in quantityList %}
                                <tr>
                                    <td class="col-2">{{ productName }} :</td>
                                    <td class="col-1">{{ quantity ~ ' ' ~ unity }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </article>

        <article class="card col-6">
            <div class="card-body">
                <h3 class="card-title">Répartition par dépôt</h3>
                
                <div class="accordion products-by-total">
                {% for currentDepot in depots %}
                    {% set accordeonItem = loop.index %}
                    {% for depotName, productsList in currentDepot %}
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="panelsStayOpen-heading{{ accordeonItem }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ accordeonItem }}" aria-expanded="false" aria-controls="panelsStayOpen-collapse{{ accordeonItem }}">
                                {{ depotName }}
                            </button>
                            </h4>
                            <div id="panelsStayOpen-collapse{{ accordeonItem }}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading{{ accordeonItem }}">
                            <div class="accordion-body">
                                    <table class="table table-striped justify-content-center">
                                        <tbody>
                                            {% for productName, quantityList in productsList %}
                                                {% for unity, quantity in quantityList %}
                                                    <tr>
                                                        <td class="col-2">{{ productName }} :</td>
                                                        <td class="col-1">{{ quantity ~ ' ' ~ unity }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                            </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                {% endfor %}
                
                </div>

                <div class="accordion products-by-pack d-none">
                {% for currentDepot in packDepots %}
                    {% set accordeonItem = loop.index %}
                    {% for depotName, productsList in currentDepot %}
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="packStayOpen-heading{{ accordeonItem }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#packStayOpen-collapse{{ accordeonItem }}" aria-expanded="false" aria-controls="packStayOpen-collapse{{ accordeonItem }}">
                                {{ depotName }}
                            </button>
                            </h4>
                            <div id="packStayOpen-collapse{{ accordeonItem }}" class="accordion-collapse collapse" aria-labelledby="packStayOpen-heading{{ accordeonItem }}">
                            <div class="accordion-body">
                                    <table class="table table-striped justify-content-center">
                                        <tbody>
                                            {% for productName, quantityList in productsList %}
                                                {% for unity, quantity in quantityList %}
                                                    <tr>
                                                        <td class="col-2">{{ productName }} :</td>
                                                        <td class="col-1">{{ quantity ~ ' ' ~ unity }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                            </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                {% endfor %}
                
                </div>
                
                
            </div>
            
        </article>
    </div>

    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/harvestSwitch.js')}}"></script>
{% endblock %}
