{% extends 'base-back.html.twig' %}

{% block title %}Journal de récolte{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="text-center">Journal de récolte</h1>

    <p>Produits à récolter pour les commandes du <strong><em>{{ startDate ? startDate|format_date('short', locale='fr') : '01/01/1970' }}</em></strong> au <strong><em>{{ endDate|format_date('short', locale='fr') }}</em></strong></p>

    {{ include('back/_form-date-filter.twig') }}

    {% if products is empty %}
        <div class="text-bg-info">Aucune commande n'a été trouvé pour cette période</div>
    {% else %}

    <div class="row justify-content-around">
        <article class="card col-4">
            <div class="card-body">
                <h3 class="card-title">Liste des produits</h3>
                <table class="table table-striped justify-content-center">
                    <thead>
                    </thead>
                    <tbody>
                        {% for productName, quantityList in products %}
                            {% for unity, quantity in quantityList %}
                                <tr>
                                    <td class="col-2">{{ productName }} :</td>
                                    <td class="col-1">{{ quantity ~ ' ' ~ unity }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </article>

        <article class="card col-6">
            <div class="card-body">
                <h3 class="card-title">Répartition par dépôt</h3>
                
                <div class="accordion" id="accordionPanelsStayOpenExample">
                {% for currentDepot in depots %}
                    {% set accordeonItem = loop.index %}
                    {% for depotName, productsList in currentDepot %}
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="panelsStayOpen-heading{{ accordeonItem }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ accordeonItem }}" aria-expanded="false" aria-controls="panelsStayOpen-collapse{{ accordeonItem }}">
                                {{ depotName }}
                            </button>
                            </h4>
                            <div id="panelsStayOpen-collapse{{ accordeonItem }}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading{{ accordeonItem }}">
                            <div class="accordion-body">
                                    <table class="table table-striped justify-content-center">
                                        <tbody>
                                            {% for productName, quantityList in productsList %}
                                                {% for unity, quantity in quantityList %}
                                                    <tr>
                                                        <td class="col-2">{{ productName }} :</td>
                                                        <td class="col-1">{{ quantity ~ ' ' ~ unity }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                            </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                {% endfor %}
                
                </div>
                
                
            </div>
            
        </article>
    </div>

    {% endif %}
</div>
{% endblock %}
