
{# {% block title %}Commandes{% endblock %} #}
{% block stylesheets %}
<style type="text/css">

        table {
         table-layout: fixed;
        width: 100%;
        }
        body {
        font-family: 'Courier';
        margin: 0;
        }
        td {
            text-align: center;
            padding: 10px;
        }
        th {
            border-radius: bold 5px grey;
            background-color: #40b5e7;
        }
    </style>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <h2 class="text-center">Détails des commandes</h2>
    <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">client</th>
                            <th scope="col">tél</th>
                            <th scope="col">Date commande</th>
                            <th scope="col">Dépôt</th>
                        </tr>
                    </thead>
                <tbody>
                <tr>
                    <td>{{ order.user.firstname }} {{ order.user.lastname }}</td>
                    <td>{{ order.user.phone }}</td>
                    <td>{{ order.getDateOrder ? order.getDateOrder|date('Y-m-d') : '-' }}</td>
                    <td>{{ order.depot.name }}</td>
                </tr>
                </tbody>
                    <thead>
                        <tr>
                        <th scope="col">Produits</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
            <tbody>
            {% for currentProduct in order.orderProducts %}
                <tr>
                    <td scope="col">{{ currentProduct.product.name }}</td>     
                    <td scope="col">{{ currentProduct.quantity}}{{ currentProduct.product.unity }}</td> 
                    <td scope="col">{{ currentProduct.quantity}}{{ currentProduct.product.price }}</td> 
                </tr>
                {% endfor %}

                <thead>
                    <tr>
                    <th scope="col">Panier</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                </thead>

            {% for currentCart in order.cartOrders %}
                        <tr>
                                <td>{{ currentCart.cart.name }}</td>
                                <td>{{ currentCart.quantity }}</td>
                                <td>{{ currentCart.cart.price }}</td>
                        </tr>
                {% endfor %}
                <thead>
                    <tr>  
                    <th scope="col">TOTAL Prix</th>
                    <th scope="col">Commande payée ?</th>
                </thead> 
                
                <tr>              
                    <td scope="col">{{ order.price}}</td>
                    <td scope="col">{{ order.getPaymentStatus}}</td>
                </tr>
        </tbody>
    </table>
</div>
{# <tr>
        {% for currentCart in order.cartOrders %}
                    <ul>
                        <li class="list-group-item"><strong class="fw-semibold">Nom du panier : </strong>{{ currentCart.cart.name }}</li>
                        <li class="list-group-item"><strong class="fw-semibold">Quantité : </strong>{{ currentCart.quantity }} panier(s)</li>
                         <li class="list-group-item"><strong class="fw-semibold">Produits : </strong>{{ currentCart.cart.product }} panier(s)</li>
                    </ul>
                {% endfor %}
    </tr> #}
        
{% endblock %}