
{% block title %}Commandes{% endblock %}

{% block body %}
<div class="container-fluid">
    <h2 class="text-center">Détails des commandes</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">client</th>
                <th scope="col">tél</th>
                <th scope="col">Date commande</th>
                <th scope="col">Dépôt</th>
            </tr>
        </thead>
    <tbody>
    <tr>
        <td>{{ order.user.lastname }}</td>
         <td>{{ order.user.phone }}</td>
        <td>{{ order.getDateOrder ? order.getDateOrder|date('Y-m-d') : '-' }}</td>
        <td>{{ order.depot.getName }}</td>
    </tr>
    </tbody>
        <thead>
             <tr>
             <th scope="col">Produits</th>
             <th scope="col">Quantité</th>
             </tr>
        </thead>
<tbody>
{% for currentProduct in order.orderProducts %}
    <tr>
        <td scope="col">{{ currentProduct.product.name }}</td>     
        <td scope="col">{{ currentProduct.quantity}}{{ currentProduct.product.unity }}</td> 
    </tr>
     {% endfor %}

    <thead>
        <tr>
        <th scope="col">Panier</th>
    </thead>

{% for currentCart in order.cartOrders %}
            <tr>
                    <td>{{ currentCart.cart.name }}</td>
                    <td>{{ currentCart.quantity }}</td>
                    {# <td>{{ currentCart.cart.product }}</td> #}
            </tr>
    {% endfor %}
                 
            </tbody>
        </table>
</div>
{# <tr>
        {% for currentCart in order.cartOrders %}
                    <ul>
                        <li class="list-group-item"><strong class="fw-semibold">Nom du panier : </strong>{{ currentCart.cart.name }}</li>
                        <li class="list-group-item"><strong class="fw-semibold">Quantité : </strong>{{ currentCart.quantity }} panier(s)</li>
                         <li class="list-group-item"><strong class="fw-semibold">Produits : </strong>{{ currentCart.cart.product }} panier(s)</li>
                    </ul>
                {% endfor %}
    </tr> #}
        
{% endblock %}