{% extends 'back/order/_base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="text-center">Liste des commandes</h1>

    <table class="table table-striped">
        <thead>
            <tr>
            {% if orders is empty %}
                <td colspan="8">Aucune commande n'a été trouvé</td>
            {% else %}
                <th scope="col">#</th>
                <th scope="col">Date commande</th>
                <th scope="col">Prix</th>
                <th scope="col">Payée ?</th>
                <th scope="col">Date paiement</th>
                <th scope="col">Retirée ?</th>
                <th scope="col">Date retrait</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td id="{{order.id}}" scope="row">{{ order.id }}</td>
                <td> {{ order.getDateOrder ? order.getDateOrder|date('d-m-Y H:i:s') : '-' }}</td>
                <td> {{ order.price }}</td>
                <td> 
                    {% if order.paymentStatus == 'yes' %}
                    <i class="bi bi-cash-coin text-success"></i>
                    {% else %}
                    <a href="{{ path('app_back_order_validate', {'id': order.id}) }}" class="btn btn-outline-danger bi bi-cash-coin text-danger"></a>
                    {% endif %}
                </td>
                <td> {{ order.paidAt ? order.paidAt|date('d-m-Y H:i:s') : '-' }}</td>
                <td> 
                {% if order.deliverStatus == 'yes' %}
                <i class="bi bi-clipboard2-check text-success"></i>
                {% else %}
                  {% if order.paymentStatus == 'no' %}
                  {% else %}
                <a href="{{ path('app_back_order_delivered', {'id': order.id}) }}" class="btn btn-outline-danger bi bi-clipboard2-check text-danger"></a>
                    {% endif %}
                    {% endif %}
                </td>
                <td> {{ order.deliveredAt ? order.deliveredAt|date('d-m-Y H:i:s') : '-' }}</td>
                <td> 
                    <a href="{{ path('app_back_order_show', {'id': order.id}) }}" class="btn btn-outline-primary btn-sm"><i class="bi bi-eye-fill"> Consulter</i></a>
                </td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>

    {# <a href="{{ path('app_back_order_new') }}">Create new</a> #}
</div>
{% endblock %}
